@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
#headline {
    font-family: "Satisfy", cursive;
    width: auto;
    border: 1px solid black;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4d8bd;
    border: 1px solid #b4d8bd;
}
#flash-card {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.flash-card-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 25rem;
    height:15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Shadows Into Light", cursive;
    font-size: 1rem;
    cursor: pointer;
}
.Question-true {
    display: none;
    /* background-color:#95b0e1 ; */

}
#foo {
    background-color: #c5c9cb;
    border: 1px solid #c5c9cb;
    margin-top: 2.3rem;
    width: auto;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Satisfy", cursive;

}